* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Gabarito", sans-serif;
  }

  body::-webkit-scrollbar{
    display: none !important;
  }

  #tabs::-webkit-scrollbar{
    display: none !important;
  }
  #tabs{
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important; 
  }
  


                                /* NAV BAR CSS */
.add-border{
  
  border-bottom: 2px solid grey;
}

.display-links{
  display: block !important;
}

.hide-element{
  display: none !important;
}


                               /* banner css */

#imagebanner{
  background-image: url('https://static.tacdn.com/img2/trips/home-gai-entry-gateway-dv.jpg');
  object-fit:contain;
}







  /* card */
  .adventure-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  .adventure-container__item1,
  .adventure-container__item3 {
    padding: 20px;
    flex: 1;
  }
  .adventure-container__item2 {
    padding: 10px;
    flex: 10;
  
    /* font-size: 1.5rem;  */
  }
  
  .adventure-container__item2-subtitle {
    margin-top: 5px;
  }
  /* adventure card desgin */
  .img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
    position: relative;
  }
  .img-container img {
    width: 250px;
    height: 250px;
    padding: 10px, 0px;
    border-radius: 10px;
    /* opacity: 0.9; */
  }
  .img-container__list p {
    position: absolute;
    bottom: 10px;
    /* left: 10px; */
    padding-left: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    opacity: 5;
  }
  
  /* madras */
  .tour-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }
  .tour-container__item1,
  .tour-container__item3 {
    padding: 20px;
    flex: 1;
  }
  .tour-container__item2 {
    padding: 20px;
    flex: 10;
  }
  .tour-container__item2-img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
    position: relative;
  }
  .tour-container__item2-img-container__list {
    width: 250px;
    height: 250px;
    padding: 10px, 0px;
    border-radius: 10px;
  }
  .tour-container__item2-img-container__list img {
    width: 100%;
    border-radius: 10px;
  }
  .tour-container__item2-img-container__body {
    font-size: 18px;
    padding: 2px;
  }
  .tour-container__item2-img-container__body .about {
    font-size: 18px;
    padding-top: 5px;
  }
  .tour-container__item2-img-container__body .review {
    font-size: 18px;
    padding-top: 5px;
  }
  .tour-container__item2-img-container__body .price {
    font-weight: 600;
    padding-top: 5px;
  }
  .footer {
    padding: 30px;
    background-color: #FAF1ED;
    color: #000;
  }
  .footer__one {
    display: flex;
    gap: 10px;
  }
  .footer__one p {
    margin: 20px;
  }
  .footer__two {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
  }
  @media screen and (max-width: 760px) {
    .navbar__s1 {
      display: block;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .navbar__s3 {
      display: none;
    }
    .navbar_s4__btn {
      display: none;
    }
    .title {
      display: none;
    }
  }
  